<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.IGradeDao">
  <resultMap id="gradeMap" type="Grade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="createdate" jdbcType="DATE" property="createdate" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  
  <resultMap id="gradeMap2" type="Grade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="week" jdbcType="INTEGER" property="week" />
    <result column="createdate" jdbcType="DATE" property="createdate" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    
    <!-- <association property="cname"
    	javaType="com.edu.entity.Course"
    	column="cid"
    	resultMap=""
    ></association> -->
    
    <association property="scount"
    	javaType="Integer"
    	column="id"
    	select="com.edu.dao.IStudentDao.findScountById"
    ></association>
    
  </resultMap>
  <sql id="Base_Column_List">
    id, name, flag, week, createdate, location, cid
  </sql>
  
  <select id="findGradeByCid" parameterType="int" resultMap="gradeMap">
  	select * from t_grade where cid=#{cid}
  </select>
  
  <select id="count" resultType="int">
  	select count(1) from t_grade
  </select>
  
  <select id="findByIndexAndSize" parameterType="map" resultMap="gradeMap2">
  	select c.name cname,g.* from t_course c
  	inner join t_grade g
  	on c.id=g.cid
  	limit #{index},#{size}
  </select>
  
  <delete id="deleteById" parameterType="int">
  	delete from t_grade where id=#{id}
  </delete>
  
  <insert id="addGrade" parameterType="Grade">
  	insert into t_grade(name,flag,week,createdate,location,cid) value(#{name},1,#{week},#{createdate},#{location},#{cid})
  </insert>
  
  <update id="updateGrade" parameterType="Grade">
  	update t_grade set name=#{name},week=#{week},location=#{location} where id=#{id}
  </update>
  
  <select id="findGradeById" parameterType="int" resultType="Grade">
  	select * from t_grade where id=#{id}
  </select>
  
  <select id="findGradeByName" parameterType="string" resultType="Grade">
  	select * from t_grade where name=#{name}
  </select>
  
  <select id="findAll" resultMap="gradeMap">
  	select * from t_grade
  </select>
  
</mapper>





