<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.IStaffDao">
  <resultMap id="BaseResultMap" type="com.edu.entity.Staff">
    <id column="no" jdbcType="VARCHAR" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="did" jdbcType="INTEGER" property="did" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="createdate" jdbcType="DATE" property="createdate" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
  </resultMap>
  <sql id="Base_Column_List">
    no, name, did, flag, sex, email, qq, phone, createdate, photo
  </sql>
  
  <select id="count" resultType="int">
  	select count(1) from t_staff where did=#{did}
  </select>
  
</mapper>